.card {
   width: 450px;
    height: 600px;
    border: 4px solid #461aad;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: rgb(100, 20, 153);
    border-width: 20px;
    border-style: double;
    box-shadow: 50px 10px 20px rgba(58, 3, 3, 0.3);
    box-align:center;
    margin: 20px;
    padding: 5px;
    background-color: 0;
    display: inline-block ;
   
}
    h1{
        text-align: center;
        color: rgb(88, 13, 17);
        font-size: x-large;
        font-weight: bolder;
    }            
    p
    {
        text-align: center;
        color: rgb(20, 3, 53);
        font-size: x-large;
        font-weight : bold;
    }
    
.card img{

        width: 250px;
        height: 200px;
        padding: 5px;
        display:block;
        margin-left:auto;
        margin-right:auto;

}
    .showcase {
            width: 90%;
            margin: 40px auto;
        }

        button {
            margin: 20px;
            padding: 5px;
            display:block;
           
        }

        .custom-btn {
            width: 200px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
            outline: none;
            border: none;
            letter-spacing: 0.5px;
            text-transform: capitalize;
             margin-right:40px;
            margin-bottom:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: 5px solid #000;
        }

        /* button-1 */
        .btn-1 {
            background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
            border: none;
        }

        .btn-1:before {
            height: 0%;
            width: 2px;
        }

        .btn-1:hover {
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        }

     /* button-2 */
        .btn-2 {
            color: #fff;
            background-color: #555;
            padding: 7px 20px 6px;
            border: none;
            border-radius: 40px;
            transition: all 0.3s ease 0s;
        }

        .btn-2:focus {
            color: #fff;
        }

        .btn-2:hover {
            color: #ff3571;
            background: #fff;
            box-shadow: 4px 2px #ee5253, 7px -2px #10ac84, 9px 3px #ff9f43, -5px -3px #ff3571, -7px 3px #5f27cd;
        }
            

    
 
